<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">LSLib</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/api/faculties/main" >Факультеты</a>
        <a class="p-2 text-dark" href="/api/departments/main" >Кафедры</a>
        <a class="p-2 text-dark" href="/api/publications/main">Публикации</a>
        <a class="p-2 text-dark" href="/api/lecturers/main">Преподаватели</a>
        <a class="p-2 text-dark" href="/api/publicationLecturers/main">Авторство</a>
        <a class="p-2 text-dark" href="/api/subjects/main">Предметы</a>
        <a class="p-2 text-dark" href="/api/specialities/main">Специальности</a>
        <a class="p-2 text-dark" href="/api/students/main">Студенты</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

<div class="container mt-5">
    <H1 th:text="${title}" align="center"></H1>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>№ публикации</th>
                <th>Название</th>
                <th>Город издания</th>
                <th>Дата публикации</th>
                <th>Назначение</th>
                <th>Тип</th>
                <th>Количество страниц</th>
                <th>UDC</th>
                <th>ISBN</th>
                <th>Предмет</th>
                <th>Ссылка для скачивания</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el : ${response}" class="alert alert-nfo mt-3">
                <td th:text="${el.publicationId}"></td>
                <td th:text="${el.publicationTitle}"></td>
                <td th:text="${el.publicationCity}"></td>
                <td th:text="${el.publicationDate}"></td>
                <td th:text="${el.publicationUse}"></td>
                <td th:text="${el.publicationType}"></td>
                <td th:text="${el.pageNumb}"></td>
                <td th:text="${el.udcNumb}"></td>
                <td th:text="${el.isbnNumb}"></td>
                <td th:text="${el.subjectName}"></td>
                <td th:text="${el.downloadLink}"></td>
                <td> <a th:href="'/api/publications/update' + ${el.publicationId}">Редактировать</a> </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a href="/api/publications/create">Добавить публикацию</a>
</div>


<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Вернуться наверх</a>
        </p> </div>
</footer>
</body>
</html>